body {
  background-color: black !important;
}

.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.video {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 300px;
  height: auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 20px;
}

.main-heading {
  color: white;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.btn {
  color: white;
  border-color: white;
  margin-right: 10px;
}

.btn:hover {
  color: black;
  background-color: white;
}